# Local API for contact form and SMTP settings
VITE_API_URL=http://localhost:3001
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=shubhsinmod@gmail.com
SMTP_PASS=xoaj phju ifni hlac
# spring.mail.username=shubhsinmod@gmail.com
# spring.mail.password=xoaj phju ifni hlac
EMAIL_TO=shubhsinmod@gmail.com
SERVER_PORT=3001
